<!DOCTYPE html>
<html>
<head>
  <title>Even More Broken App</title>
  <link rel="stylesheet" href="/style.css" />
</head>
<body>
  <h1>Welcome to the Even More Broken App</h1>
  <p>Try visiting <code>/users</code> or <code>/users/:id</code></p>
</body>
</html>